@import url('https://fonts.googleapis.com/css?family=Karla');

.main-toolbar {
  background-image: url('./Images/network.gif') ;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}
.mobile-page{
 /* background-image: url('./Images/fireflies.gif') ;*/
  background-color: #fafafa; 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
}

.button {
  background-color: #5B3F8A;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: "'Karla', sans-serif";
  font-size: 14px;
  display:block;
  margin:auto;
  cursor: pointer;
}

.mobile-prof-pic img{
  display:block;
  margin:auto;
  /*opacity: 0.85;*/

}


.mobtext{
  white-space: 'normal';
  display: 'flex';
  justify-content: 'center';
}

.App {
  text-align: center;
  
}

.child {
  border: solid 1px;
  display: flex;
}
.left {
  width: 100px;
}
.container {
  display: flex;
  width: 90%;

  flex-wrap: wrap;
}

.dashtile {
  overflow-y:scroll;
  float:left;
  white-space: 'normal';
  position:relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile {
  overflow: scroll;
  height: 85vh;
}


.dashboard {
  overflow: scroll;
  height: 90vh;
}

.resume-field{
  margin-bottom: 1px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

