.App {
  text-align: center;
  
}

.child {
  border: solid 1px;
  display: flex;
}
.left {
  width: 100px;
}
.container {
  display: flex;
  width: 90%;

  flex-wrap: wrap;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.profile {
  overflow: scroll;
  height: 85vh;
}


.dashboard {
  overflow: scroll;
  height: 90vh;
}

.resume-field{
  margin-bottom: 1px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

